.container{
  text-align: center;
}
.container img{
  width: 250px;
  height: 70px;
  padding-top: 50px;
}
.header a{
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  font-size:20px;
  color:black;
  font-family:'tahoma';
  font-weight: bold;
}
.top-logo{
  padding:10px;
  text-align:center;
}
body {
  font-family: "ヒラギノ角ゴ ProN W3";
  color: #222;
  font-size: 25px;
}
.slider{
  text-align: center;
}
.slider img{
  display: inline-block;
  height: 500px;
}
.main p{
  text-align: center;
  color:black;
  font-size: 35px;
  font-family: serif;
}
.main h6 {
  font-size: 18px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: serif;
}
